# DATA PREPROCESSING AND FEATURE ENGINEERING IN MACHINE LEARNING

In [18]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler,MinMaxScaler,OneHotEncoder,LabelEncoder
from sklearn.ensemble import IsolationForest

# 1. Data exploration and data processing

In [19]:
# load the dataset
df=pd.read_csv('adult_with_headers.csv')
df.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education_num   32561 non-null  int64
 5   marital_status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital_gain    32561 non-null  int64
 11  capital_loss    32561 non-null  int64
 12  hours_per_week  32561 non-null  int64
 13  native_country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [21]:
df.describe()

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [22]:
df.describe(include='all')

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
count,32561.000000,32561,3.256100e+04,32561,32561.000000,32561,32561,32561,32561,32561,32561.000000,32561.000000,32561.000000,32561,32561
unique,NaN,9,NaN,16,NaN,7,15,6,5,2,NaN,NaN,NaN,42,2
top,NaN,Private,NaN,HS-grad,NaN,Married-civ-spouse,Prof-specialty,Husband,White,Male,NaN,NaN,NaN,United-States,<=50K
freq,NaN,22696,NaN,10501,NaN,14976,4140,13193,27816,21790,NaN,NaN,NaN,29170,24720
mean,38.581647,NaN,1.897784e+05,NaN,10.080679,NaN,NaN,NaN,NaN,NaN,1077.648844,87.303830,40.437456,NaN,NaN
std,13.640433,NaN,1.055500e+05,NaN,2.572720,NaN,NaN,NaN,NaN,NaN,7385.292085,402.960219,12.347429,NaN,NaN
min,17.000000,NaN,1.228500e+04,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,1.000000,NaN,NaN
25%,28.000000,NaN,1.178270e+05,NaN,9.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,40.000000,NaN,NaN
50%,37.000000,NaN,1.783560e+05,NaN,10.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,40.000000,NaN,NaN
75%,48.000000,NaN,2.370510e+05,NaN,12.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,45.000000,NaN,NaN
max,90.000000,NaN,1.484705e+06,NaN,16.000000,NaN,NaN,NaN,NaN,NaN,99999.000000,4356.000000,99.000000,NaN,NaN

In [23]:
# check the missing values
df.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
income            0
dtype: int64

# Scaling numerical features

In [24]:
numerical_features= df.select_dtypes(include=['int64','float64']).columns
numerical_features

Index(['age', 'fnlwgt', 'education_num', 'capital_gain', 'capital_loss',
       'hours_per_week'],
      dtype='object')

## Standard Scaler

In [25]:
standard_sca=StandardScaler()

In [26]:
df_standard_scaled=df.copy()

In [27]:
# apply standard scaler to numerical features

In [28]:
df_standard_scaled[numerical_features]=standard_sca.fit_transform(df[numerical_features])

In [29]:
df_standard_scaled[numerical_features]

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week
0,0.030671,-1.063611,1.134739,0.148453,-0.21666,-0.035429
1,0.837109,-1.008707,1.134739,-0.145920,-0.21666,-2.222153
2,-0.042642,0.245079,-0.420060,-0.145920,-0.21666,-0.035429
3,1.057047,0.425801,-1.197459,-0.145920,-0.21666,-0.035429
4,-0.775768,1.408176,1.134739,-0.145920,-0.21666,-0.035429
...,...,...,...,...,...,...
32556,-0.849080,0.639741,0.746039,-0.145920,-0.21666,-0.197409
32557,0.103983,-0.335433,-0.420060,-0.145920,-0.21666,-0.035429
32558,1.423610,-0.358777,-0.420060,-0.145920,-0.21666,-0.035429
32559,-1.215643,0.110960,-0.420060,-0.145920,-0.21666,-1.655225
32560,0.983734,0.929893,-0.420060,1.888424,-0.21666,-0.035429

In [30]:
df_standard_scaled.head() # after using standard scaling

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,0.030671,State-gov,-1.063611,Bachelors,1.134739,Never-married,Adm-clerical,Not-in-family,White,Male,0.148453,-0.21666,-0.035429,United-States,<=50K
1,0.837109,Self-emp-not-inc,-1.008707,Bachelors,1.134739,Married-civ-spouse,Exec-managerial,Husband,White,Male,-0.145920,-0.21666,-2.222153,United-States,<=50K
2,-0.042642,Private,0.245079,HS-grad,-0.420060,Divorced,Handlers-cleaners,Not-in-family,White,Male,-0.145920,-0.21666,-0.035429,United-States,<=50K
3,1.057047,Private,0.425801,11th,-1.197459,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,-0.145920,-0.21666,-0.035429,United-States,<=50K
4,-0.775768,Private,1.408176,Bachelors,1.134739,Married-civ-spouse,Prof-specialty,Wife,Black,Female,-0.145920,-0.21666,-0.035429,Cuba,<=50K

## Min-Max Scaler

In [31]:
minmax_scaler=MinMaxScaler()

In [32]:
df_minmax_scaled=df.copy()

In [33]:
df_minmax_scaled[numerical_features]=minmax_scaler.fit_transform(df[numerical_features])

In [34]:
df_minmax_scaled.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,0.301370,State-gov,0.044302,Bachelors,0.800000,Never-married,Adm-clerical,Not-in-family,White,Male,0.02174,0.0,0.397959,United-States,<=50K
1,0.452055,Self-emp-not-inc,0.048238,Bachelors,0.800000,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.00000,0.0,0.122449,United-States,<=50K
2,0.287671,Private,0.138113,HS-grad,0.533333,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.00000,0.0,0.397959,United-States,<=50K
3,0.493151,Private,0.151068,11th,0.400000,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.00000,0.0,0.397959,United-States,<=50K
4,0.150685,Private,0.221488,Bachelors,0.800000,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.00000,0.0,0.397959,Cuba,<=50K

In [35]:
#standard scaler and min-max scaler values
print(df_minmax_scaled.head())
print(df_standard_scaled.head())

        age          workclass    fnlwgt   education  education_num  \
0  0.301370          State-gov  0.044302   Bachelors       0.800000
1  0.452055   Self-emp-not-inc  0.048238   Bachelors       0.800000
2  0.287671            Private  0.138113     HS-grad       0.533333
3  0.493151            Private  0.151068        11th       0.400000
4  0.150685            Private  0.221488   Bachelors       0.800000

        marital_status          occupation    relationship    race      sex  \
0        Never-married        Adm-clerical   Not-in-family   White     Male
1   Married-civ-spouse     Exec-managerial         Husband   White     Male
2             Divorced   Handlers-cleaners   Not-in-family   White     Male
3   Married-civ-spouse   Handlers-cleaners         Husband   Black     Male
4   Married-civ-spouse      Prof-specialty            Wife   Black   Female

   capital_gain  capital_loss  hours_per_week  native_country  income
0       0.02174           0.0        0.397959   United-States   <=50K
1       0.00000           0.0        0.122449   United-States   <=50K
2       0.00000           0.0        0.397959   United-States   <=50K
3       0.00000           0.0        0.397959   United-States   <=50K
4       0.00000           0.0        0.397959            Cuba   <=50K
        age          workclass    fnlwgt   education  education_num  \
0  0.030671          State-gov -1.063611   Bachelors       1.134739
1  0.837109   Self-emp-not-inc -1.008707   Bachelors       1.134739
2 -0.042642            Private  0.245079     HS-grad      -0.420060
3  1.057047            Private  0.425801        11th      -1.197459
4 -0.775768            Private  1.408176   Bachelors       1.134739

        marital_status          occupation    relationship    race      sex  \
0        Never-married        Adm-clerical   Not-in-family   White     Male
1   Married-civ-spouse     Exec-managerial         Husband   White     Male
2             Divorced   Handlers-cleaners   Not-in-family   White     Male
3   Married-civ-spouse   Handlers-cleaners         Husband   Black     Male
4   Married-civ-spouse      Prof-specialty            Wife   Black   Female

   capital_gain  capital_loss  hours_per_week  native_country  income
0      0.148453      -0.21666       -0.035429   United-States   <=50K
1     -0.145920      -0.21666       -2.222153   United-States   <=50K
2     -0.145920      -0.21666       -0.035429   United-States   <=50K
3     -0.145920      -0.21666       -0.035429   United-States   <=50K
4     -0.145920      -0.21666       -0.035429            Cuba   <=50K

# 2.Encoding Techniques:

# One-Hot Encoding to Categorical Columns

In [36]:
# Apply One-Hot Encoding to categorical variables with less than 5 categories.

In [37]:
#lets apply one hot encoding to 2 categorical columns
one_hot_colums=['sex','income']

In [38]:
ohe=OneHotEncoder()

In [39]:
print(ohe)

OneHotEncoder()

In [40]:
ohe.fit_transform(df[['sex','income']]).toarray()

array([[0., 1., 1., 0.],
       [0., 1., 1., 0.],
       [0., 1., 1., 0.],
       ...,
       [1., 0., 1., 0.],
       [0., 1., 1., 0.],
       [1., 0., 0., 1.]])

In [41]:
df_ohe=ohe.fit_transform(df[['sex','income']]).toarray()

In [42]:
ohe.categories_

[array([' Female', ' Male'], dtype=object),
 array([' <=50K', ' >50K'], dtype=object)]

In [43]:
ohe.get_feature_names_out(one_hot_colums)

array(['sex_ Female', 'sex_ Male', 'income_ <=50K', 'income_ >50K'],
      dtype=object)

In [44]:
# lets put one hot encoded values into dataframe df1.
df1=pd.DataFrame(df_ohe,columns=ohe.get_feature_names_out(one_hot_colums))
df1

       sex_ Female  sex_ Male  income_ <=50K  income_ >50K
0              0.0        1.0            1.0           0.0
1              0.0        1.0            1.0           0.0
2              0.0        1.0            1.0           0.0
3              0.0        1.0            1.0           0.0
4              1.0        0.0            1.0           0.0
...            ...        ...            ...           ...
32556          1.0        0.0            1.0           0.0
32557          0.0        1.0            0.0           1.0
32558          1.0        0.0            1.0           0.0
32559          0.0        1.0            1.0           0.0
32560          1.0        0.0            0.0           1.0

[32561 rows x 4 columns]

In [45]:
#lets join df and df1 together and make it into new dataframe

In [46]:
df_new=df.join(df1)

In [47]:
df_new.drop(columns=one_hot_colums)

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,capital_gain,capital_loss,hours_per_week,native_country,sex_ Female,sex_ Male,income_ <=50K,income_ >50K
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,2174,0,40,United-States,0.0,1.0,1.0,0.0
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,0,0,13,United-States,0.0,1.0,1.0,0.0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,0,0,40,United-States,0.0,1.0,1.0,0.0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,0,0,40,United-States,0.0,1.0,1.0,0.0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,0,0,40,Cuba,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,0,0,38,United-States,1.0,0.0,1.0,0.0
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,0,0,40,United-States,0.0,1.0,0.0,1.0
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,0,0,40,United-States,1.0,0.0,1.0,0.0
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,0,0,20,United-States,0.0,1.0,1.0,0.0
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,15024,0,40,United-States,1.0,0.0,0.0,1.0

# Label Encoding to more than 5 categorical columns

In [48]:
#Use Label Encoding for categorical variables with more than 5 categories.

In [49]:
categorical_cols=df.select_dtypes(include=['object']).columns
categorical_cols

Index(['workclass', 'education', 'marital_status', 'occupation',
       'relationship', 'race', 'sex', 'native_country', 'income'],
      dtype='object')

In [50]:
columns_to_label_encode = ['workclass', 'education', 'marital_status', 'occupation', 'relationship', 'race', 'native_country']

In [51]:
label_encoder=LabelEncoder()

In [52]:
# apply label encoding to each selected column

for col in columns_to_label_encode:
    df[col]=label_encoder.fit_transform(df[col])
print(df.head())

   age  workclass  fnlwgt  education  education_num  marital_status  \
0   39          7   77516          9             13               4
1   50          6   83311          9             13               2
2   38          4  215646         11              9               0
3   53          4  234721          1              7               2
4   28          4  338409          9             13               2

   occupation  relationship  race      sex  capital_gain  capital_loss  \
0           1             1     4     Male          2174             0
1           4             0     4     Male             0             0
2           6             1     4     Male             0             0
3           6             0     2     Male             0             0
4          10             5     2   Female             0             0

   hours_per_week  native_country  income
0              40              39   <=50K
1              13              39   <=50K
2              40              39   <=50K
3              40              39   <=50K
4              40               5   <=50K

In [53]:
df  # after applyin label encoding

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,7,77516,9,13,4,1,1,4,Male,2174,0,40,39,<=50K
1,50,6,83311,9,13,2,4,0,4,Male,0,0,13,39,<=50K
2,38,4,215646,11,9,0,6,1,4,Male,0,0,40,39,<=50K
3,53,4,234721,1,7,2,6,0,2,Male,0,0,40,39,<=50K
4,28,4,338409,9,13,2,10,5,2,Female,0,0,40,5,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,4,257302,7,12,2,13,5,4,Female,0,0,38,39,<=50K
32557,40,4,154374,11,9,2,7,0,4,Male,0,0,40,39,>50K
32558,58,4,151910,11,9,6,1,4,4,Female,0,0,40,39,<=50K
32559,22,4,201490,11,9,4,1,3,4,Male,0,0,20,39,<=50K
32560,52,5,287927,11,9,2,4,5,4,Female,15024,0,40,39,>50K

## Pros and Cons:

In [54]:

# One-Hot Encoding:
# Pros: Preserves all categories without imposing any order. Useful for algorithms that work better with non-ordinal data.
# Cons: Can lead to high-dimensional data when there are many categories.

In [55]:
# Label Encoding:
# Pros: Simple, works well with ordinal data. Suitable when categories have a meaningful order.
# Cons: May confuse models into thinking that one category is "greater" or "lesser" than another due to assigned numerical values.

# 3.Feature Engineering

In [56]:
# Create at least 2 new features that could be beneficial for the model.

In [57]:
# We can create new features based on existing data that could potentially improve model performance.

In [58]:
# Feature 1: Work Experience Category based on age
df['work_experience'] = df['age'].apply(lambda age: 'early_career' if age < 30 else 'mid_career' if age <= 50 else 'late_career')

In [59]:
# Feature 2: Family Size based on relationship status
df['family_size'] = df['relationship'].apply(lambda x: 'large_family' if x in ['Husband', 'Wife'] else 'small_family')

In [60]:
# Display the new features
print(df[['age', 'work_experience', 'relationship', 'family_size']].head())

   age work_experience  relationship   family_size
0   39      mid_career             1  small_family
1   50      mid_career             0  small_family
2   38      mid_career             1  small_family
3   53     late_career             0  small_family
4   28    early_career             5  small_family

In [61]:
# 1. Work Experience Category (based on age):
# Group people into three categories based on age.

In [62]:
# 2. Family Size (based on relationship status):
# Categorize family size as either "large" or "small" based on relationship status.

In [63]:
# lets make another 2 features

In [64]:
# feature 3: Net capital (capital_gain - capital_loss)
df['net_capital'] = df['capital_gain'] - df['capital_loss']

In [65]:
# Feature 4: Interaction between age and hours_per_week
df['age_hours_interaction'] = df['age'] * df['hours_per_week']

In [66]:
print(df[['net_capital', 'age_hours_interaction']].head())

   net_capital  age_hours_interaction
0         2174                   1560
1            0                    650
2            0                   1520
3            0                   2120
4            0                   1120

In [67]:
#Apply a transformation (e.g., log transformation) to at least one skewed numerical feature and justify your choice.

In [68]:
# Apply log transformation to 'capital_gain' to reduce skewness
df['capital_gain_log'] = np.log1p(df['capital_gain'])  # log1p is used to handle zeros (log(1+x))

In [69]:
# Display the original and transformed feature
print(df[['capital_gain', 'capital_gain_log']].head())

   capital_gain  capital_gain_log
0          2174          7.684784
1             0          0.000000
2             0          0.000000
3             0          0.000000
4             0          0.000000

In [70]:
# lets take 'work experience' feature for log transformation

In [71]:
# Step 1: Map 'work_experience' to numerical values
experience_mapping = {'early_career': 1, 'mid_career': 2, 'late_career': 3}
df['work_experience_numeric'] = df['work_experience'].map(experience_mapping)

In [72]:
# Step 2: Apply log transformation to the mapped 'work_experience' values
df['work_experience_log'] = np.log1p(df['work_experience_numeric'])

In [73]:
# Display the original and transformed 'work_experience' columns
print(df[['work_experience', 'work_experience_numeric', 'work_experience_log']].head())

  work_experience  work_experience_numeric  work_experience_log
0      mid_career                        2             1.098612
1      mid_career                        2             1.098612
2      mid_career                        2             1.098612
3     late_career                        3             1.386294
4    early_career                        1             0.693147

# 4. Feature Selection:

## Isolation Forest - to detect outliers

In [74]:
numerical_columns = df.select_dtypes(include=['int64', 'float64']).columns
numerical_columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education_num',
       'marital_status', 'occupation', 'relationship', 'race', 'capital_gain',
       'capital_loss', 'hours_per_week', 'native_country', 'net_capital',
       'age_hours_interaction', 'capital_gain_log', 'work_experience_numeric',
       'work_experience_log'],
      dtype='object')

In [75]:
iso_forest= IsolationForest(contamination=0.05,random_state=50) # setting contamination to 5% for exmaple

In [76]:
outliers= iso_forest.fit_predict(df[numerical_columns])
outliers

array([ 1,  1,  1, ...,  1,  1, -1])

In [77]:
# remove outliers
df_cleaned=df[outliers != -1] #The model predicts outliers (-1 for outliers and 1 for inliers).
df_cleaned

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,...,hours_per_week,native_country,income,work_experience,family_size,net_capital,age_hours_interaction,capital_gain_log,work_experience_numeric,work_experience_log
0,39,7,77516,9,13,4,1,1,4,Male,...,40,39,<=50K,mid_career,small_family,2174,1560,7.684784,2,1.098612
1,50,6,83311,9,13,2,4,0,4,Male,...,13,39,<=50K,mid_career,small_family,0,650,0.000000,2,1.098612
2,38,4,215646,11,9,0,6,1,4,Male,...,40,39,<=50K,mid_career,small_family,0,1520,0.000000,2,1.098612
3,53,4,234721,1,7,2,6,0,2,Male,...,40,39,<=50K,late_career,small_family,0,2120,0.000000,3,1.386294
4,28,4,338409,9,13,2,10,5,2,Female,...,40,5,<=50K,early_career,small_family,0,1120,0.000000,1,0.693147
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,22,4,310152,15,10,4,11,1,4,Male,...,40,39,<=50K,early_career,small_family,0,880,0.000000,1,0.693147
32556,27,4,257302,7,12,2,13,5,4,Female,...,38,39,<=50K,early_career,small_family,0,1026,0.000000,1,0.693147
32557,40,4,154374,11,9,2,7,0,4,Male,...,40,39,>50K,mid_career,small_family,0,1600,0.000000,2,1.098612
32558,58,4,151910,11,9,6,1,4,4,Female,...,40,39,<=50K,late_career,small_family,0,2320,0.000000,3,1.386294
32559,22,4,201490,11,9,4,1,3,4,Male,...,20,39,<=50K,early_career,small_family,0,440,0.000000,1,0.693147

In [78]:
df_cleaned.shape   #size of dataset after removing outliers

(30933, 22)

In [79]:
df.shape   #original dataset size

(32561, 22)

In [80]:
# Display the number of rows before and after removing outliers

print(f"Original dataset size: {df.shape[0]}")
print(f"Cleaned dataset size: {df_cleaned.shape[0]}")

Original dataset size: 32561
Cleaned dataset size: 30933

In [81]:
#Apply the PPS (Predictive Power Score) to find and discuss the relationships between features.

In [82]:
!pip install ppscore

Requirement already satisfied: ppscore in /usr/local/lib/python3.10/dist-packages (1.3.0)
Requirement already satisfied: pandas<2.0.0,>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from ppscore) (1.5.3)
Requirement already satisfied: scikit-learn<2.0.0,>=0.20.2 in /usr/local/lib/python3.10/dist-packages (from ppscore) (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas<2.0.0,>=1.0.0->ppscore) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas<2.0.0,>=1.0.0->ppscore) (2024.2)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas<2.0.0,>=1.0.0->ppscore) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn<2.0.0,>=0.20.2->ppscore) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn<2.0.0,>=0.20.2->ppscore) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn<2.0.0,>=0.20.2->ppscore) (3.5.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas<2.0.0,>=1.0.0->ppscore) (1.16.0)

In [83]:
import ppscore as pps

In [84]:
# Calculate the pps matrix
pps_matrix= pps.matrix(df_cleaned)

In [85]:
# show pps relationships
pps_matrix_filtered = pps_matrix[['x', 'y', 'ppscore']].sort_values(by='ppscore', ascending=False).head(10)
print("Top 10 PPS Relationships:")
print(pps_matrix_filtered)

Top 10 PPS Relationships:
                  x               y  ppscore
0               age             age      1.0
46           fnlwgt          fnlwgt      1.0
70        education   education_num      1.0
91    education_num       education      1.0
92    education_num   education_num      1.0
115  marital_status  marital_status      1.0
138      occupation      occupation      1.0
161    relationship    relationship      1.0
184            race            race      1.0
207             sex             sex      1.0

In [92]:
# Calculate the correaltion matrix for numeric columns
correlation_matrix=df_cleaned.corr()
print(correlation_matrix)

                              age  workclass    fnlwgt  education  \
age                      1.000000   0.035591 -0.075855   0.006010
workclass                0.035591   1.000000 -0.015281   0.005214
fnlwgt                  -0.075855  -0.015281  1.000000  -0.028581
education                0.006010   0.005214 -0.028581   1.000000
education_num            0.048310   0.030501 -0.046423   0.341275
marital_status          -0.310540  -0.055171  0.031481  -0.031597
occupation              -0.006864   0.223894  0.001502  -0.033697
relationship            -0.280688  -0.089343  0.008222  -0.004809
race                     0.036403   0.043845 -0.027231   0.003004
capital_gain             0.064595   0.027707 -0.012584   0.022464
capital_loss             0.037406   0.016880 -0.009607   0.020669
hours_per_week           0.104688   0.112211 -0.023626   0.048026
native_country           0.018107  -0.009367 -0.058536   0.063175
net_capital              0.054460   0.023180 -0.010110   0.017291
age_hours_interaction    0.736578   0.104529 -0.072843   0.026549
capital_gain_log         0.059464   0.032490 -0.013482   0.026821
work_experience_numeric  0.906254   0.038829 -0.068457  -0.006499
work_experience_log      0.891930   0.046672 -0.066950  -0.001781

                         education_num  marital_status  occupation  \
age                           0.048310       -0.310540   -0.006864
workclass                     0.030501       -0.055171    0.223894
fnlwgt                       -0.046423        0.031481    0.001502
education                     0.341275       -0.031597   -0.033697
education_num                 1.000000       -0.056521    0.098450
marital_status               -0.056521        1.000000   -0.001940
occupation                    0.098450       -0.001940    1.000000
relationship                 -0.090097        0.187760   -0.074800
race                          0.026743       -0.065818    0.007614
capital_gain                  0.108176       -0.064411    0.014110
capital_loss                  0.082912       -0.045457    0.019534
hours_per_week                0.136886       -0.188960    0.058199
native_country                0.059969       -0.028813   -0.010797
net_capital                   0.086842       -0.052549    0.009450
age_hours_interaction         0.116391       -0.331755    0.039774
capital_gain_log              0.083831       -0.065712    0.015456
work_experience_numeric       0.034813       -0.318159   -0.001671
work_experience_log           0.049909       -0.342729    0.001865

                         relationship      race  capital_gain  capital_loss  \
age                         -0.280688  0.036403      0.064595      0.037406
workclass                   -0.089343  0.043845      0.027707      0.016880
fnlwgt                       0.008222 -0.027231     -0.012584     -0.009607
education                   -0.004809  0.003004      0.022464      0.020669
education_num               -0.090097  0.026743      0.108176      0.082912
marital_status               0.187760 -0.065818     -0.064411     -0.045457
occupation                  -0.074800  0.007614      0.014110      0.019534
relationship                 1.000000 -0.116759     -0.098083     -0.068814
race                        -0.116759  1.000000      0.052828      0.035171
capital_gain                -0.098083  0.052828      1.000000     -0.041325
capital_loss                -0.068814  0.035171     -0.041325      1.000000
hours_per_week              -0.257740  0.042271      0.070975      0.054260
native_country              -0.003522  0.126851      0.042560      0.024953
net_capital                 -0.080109  0.043553      0.976611     -0.255188
age_hours_interaction       -0.343852  0.050970      0.092433      0.064885
capital_gain_log            -0.090509  0.051668      0.875324     -0.049226
work_experience_numeric     -0.268271  0.032579      0.068367      0.042024
work_experience_log         -0.273212  0.028802      0.078589      0.047829

                         hours_per_week  native_country  net_capital  \
age                            0.104688        0.018107     0.054460
workclass                      0.112211       -0.009367     0.023180
fnlwgt                        -0.023626       -0.058536    -0.010110
education                      0.048026        0.063175     0.017291
education_num                  0.136886        0.059969     0.086842
marital_status                -0.188960       -0.028813    -0.052549
occupation                     0.058199       -0.010797     0.009450
relationship                  -0.257740       -0.003522    -0.080109
race                           0.042271        0.126851     0.043553
capital_gain                   0.070975        0.042560     0.976611
capital_loss                   0.054260        0.024953    -0.255188
hours_per_week                 1.000000        0.000211     0.057007
native_country                 0.000211        1.000000     0.035816
net_capital                    0.057007        0.035816     1.000000
age_hours_interaction          0.704488        0.015524     0.075486
capital_gain_log               0.061785        0.043029     0.857660
work_experience_numeric        0.124158        0.016238     0.057117
work_experience_log            0.148145        0.013331     0.065759

                         age_hours_interaction  capital_gain_log  \
age                                   0.736578          0.059464
workclass                             0.104529          0.032490
fnlwgt                               -0.072843         -0.013482
education                             0.026549          0.026821
education_num                         0.116391          0.083831
marital_status                       -0.331755         -0.065712
occupation                            0.039774          0.015456
relationship                         -0.343852         -0.090509
race                                  0.050970          0.051668
capital_gain                          0.092433          0.875324
capital_loss                          0.064885         -0.049226
hours_per_week                        0.704488          0.061785
native_country                        0.015524          0.043029
net_capital                           0.075486          0.857660
age_hours_interaction                 1.000000          0.081627
capital_gain_log                      0.081627          1.000000
work_experience_numeric               0.696114          0.063832
work_experience_log                   0.700351          0.073139

                         work_experience_numeric  work_experience_log
age                                     0.906254             0.891930
workclass                               0.038829             0.046672
fnlwgt                                 -0.068457            -0.066950
education                              -0.006499            -0.001781
education_num                           0.034813             0.049909
marital_status                         -0.318159            -0.342729
occupation                             -0.001671             0.001865
relationship                           -0.268271            -0.273212
race                                    0.032579             0.028802
capital_gain                            0.068367             0.078589
capital_loss                            0.042024             0.047829
hours_per_week                          0.124158             0.148145
native_country                          0.016238             0.013331
net_capital                             0.057117             0.065759
age_hours_interaction                   0.696114             0.700351
capital_gain_log                        0.063832             0.073139
work_experience_numeric                 1.000000             0.993001
work_experience_log                     0.993001             1.000000

<ipython-input-92-7808de974695>:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  correlation_matrix=df_cleaned.corr()

In [94]:
# Compare PPS with correlation

print(pps_matrix_filtered)
print(correlation_matrix)

                  x               y  ppscore
0               age             age      1.0
46           fnlwgt          fnlwgt      1.0
70        education   education_num      1.0
91    education_num       education      1.0
92    education_num   education_num      1.0
115  marital_status  marital_status      1.0
138      occupation      occupation      1.0
161    relationship    relationship      1.0
184            race            race      1.0
207             sex             sex      1.0
                              age  workclass    fnlwgt  education  \
age                      1.000000   0.035591 -0.075855   0.006010
workclass                0.035591   1.000000 -0.015281   0.005214
fnlwgt                  -0.075855  -0.015281  1.000000  -0.028581
education                0.006010   0.005214 -0.028581   1.000000
education_num            0.048310   0.030501 -0.046423   0.341275
marital_status          -0.310540  -0.055171  0.031481  -0.031597
occupation              -0.006864   0.223894  0.001502  -0.033697
relationship            -0.280688  -0.089343  0.008222  -0.004809
race                     0.036403   0.043845 -0.027231   0.003004
capital_gain             0.064595   0.027707 -0.012584   0.022464
capital_loss             0.037406   0.016880 -0.009607   0.020669
hours_per_week           0.104688   0.112211 -0.023626   0.048026
native_country           0.018107  -0.009367 -0.058536   0.063175
net_capital              0.054460   0.023180 -0.010110   0.017291
age_hours_interaction    0.736578   0.104529 -0.072843   0.026549
capital_gain_log         0.059464   0.032490 -0.013482   0.026821
work_experience_numeric  0.906254   0.038829 -0.068457  -0.006499
work_experience_log      0.891930   0.046672 -0.066950  -0.001781

                         education_num  marital_status  occupation  \
age                           0.048310       -0.310540   -0.006864
workclass                     0.030501       -0.055171    0.223894
fnlwgt                       -0.046423        0.031481    0.001502
education                     0.341275       -0.031597   -0.033697
education_num                 1.000000       -0.056521    0.098450
marital_status               -0.056521        1.000000   -0.001940
occupation                    0.098450       -0.001940    1.000000
relationship                 -0.090097        0.187760   -0.074800
race                          0.026743       -0.065818    0.007614
capital_gain                  0.108176       -0.064411    0.014110
capital_loss                  0.082912       -0.045457    0.019534
hours_per_week                0.136886       -0.188960    0.058199
native_country                0.059969       -0.028813   -0.010797
net_capital                   0.086842       -0.052549    0.009450
age_hours_interaction         0.116391       -0.331755    0.039774
capital_gain_log              0.083831       -0.065712    0.015456
work_experience_numeric       0.034813       -0.318159   -0.001671
work_experience_log           0.049909       -0.342729    0.001865

                         relationship      race  capital_gain  capital_loss  \
age                         -0.280688  0.036403      0.064595      0.037406
workclass                   -0.089343  0.043845      0.027707      0.016880
fnlwgt                       0.008222 -0.027231     -0.012584     -0.009607
education                   -0.004809  0.003004      0.022464      0.020669
education_num               -0.090097  0.026743      0.108176      0.082912
marital_status               0.187760 -0.065818     -0.064411     -0.045457
occupation                  -0.074800  0.007614      0.014110      0.019534
relationship                 1.000000 -0.116759     -0.098083     -0.068814
race                        -0.116759  1.000000      0.052828      0.035171
capital_gain                -0.098083  0.052828      1.000000     -0.041325
capital_loss                -0.068814  0.035171     -0.041325      1.000000
hours_per_week              -0.257740  0.042271      0.070975      0.054260
native_country              -0.003522  0.126851      0.042560      0.024953
net_capital                 -0.080109  0.043553      0.976611     -0.255188
age_hours_interaction       -0.343852  0.050970      0.092433      0.064885
capital_gain_log            -0.090509  0.051668      0.875324     -0.049226
work_experience_numeric     -0.268271  0.032579      0.068367      0.042024
work_experience_log         -0.273212  0.028802      0.078589      0.047829

                         hours_per_week  native_country  net_capital  \
age                            0.104688        0.018107     0.054460
workclass                      0.112211       -0.009367     0.023180
fnlwgt                        -0.023626       -0.058536    -0.010110
education                      0.048026        0.063175     0.017291
education_num                  0.136886        0.059969     0.086842
marital_status                -0.188960       -0.028813    -0.052549
occupation                     0.058199       -0.010797     0.009450
relationship                  -0.257740       -0.003522    -0.080109
race                           0.042271        0.126851     0.043553
capital_gain                   0.070975        0.042560     0.976611
capital_loss                   0.054260        0.024953    -0.255188
hours_per_week                 1.000000        0.000211     0.057007
native_country                 0.000211        1.000000     0.035816
net_capital                    0.057007        0.035816     1.000000
age_hours_interaction          0.704488        0.015524     0.075486
capital_gain_log               0.061785        0.043029     0.857660
work_experience_numeric        0.124158        0.016238     0.057117
work_experience_log            0.148145        0.013331     0.065759

                         age_hours_interaction  capital_gain_log  \
age                                   0.736578          0.059464
workclass                             0.104529          0.032490
fnlwgt                               -0.072843         -0.013482
education                             0.026549          0.026821
education_num                         0.116391          0.083831
marital_status                       -0.331755         -0.065712
occupation                            0.039774          0.015456
relationship                         -0.343852         -0.090509
race                                  0.050970          0.051668
capital_gain                          0.092433          0.875324
capital_loss                          0.064885         -0.049226
hours_per_week                        0.704488          0.061785
native_country                        0.015524          0.043029
net_capital                           0.075486          0.857660
age_hours_interaction                 1.000000          0.081627
capital_gain_log                      0.081627          1.000000
work_experience_numeric               0.696114          0.063832
work_experience_log                   0.700351          0.073139

                         work_experience_numeric  work_experience_log
age                                     0.906254             0.891930
workclass                               0.038829             0.046672
fnlwgt                                 -0.068457            -0.066950
education                              -0.006499            -0.001781
education_num                           0.034813             0.049909
marital_status                         -0.318159            -0.342729
occupation                             -0.001671             0.001865
relationship                           -0.268271            -0.273212
race                                    0.032579             0.028802
capital_gain                            0.068367             0.078589
capital_loss                            0.042024             0.047829
hours_per_week                          0.124158             0.148145
native_country                          0.016238             0.013331
net_capital                             0.057117             0.065759
age_hours_interaction                   0.696114             0.700351
capital_gain_log                        0.063832             0.073139
work_experience_numeric                 1.000000             0.993001
work_experience_log                     0.993001             1.000000